# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csvpath = os.path.join('..', 'WeatherPy', 'weather_data.csv')
weather_data_df = pd.read_csv(csvpath)
weather_data_df.head()

,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Date
0,Avarua,CK,-21.2078,-159.7750,84.20,74,40,6.91,1611082727
1,Barrow,US,71.2906,-156.7887,1.40,85,90,24.16,1611082829
2,Kapaa,US,22.0752,-159.3190,69.80,88,90,26.46,1611082831
3,Rikitea,PF,-23.1203,-134.9692,77.97,76,63,18.43,1611082832
4,Testour,TN,36.5513,9.4431,48.20,76,0,3.36,1611082832

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#Configure gmaps
gmaps.configure(api_key=g_key)
figure_layout = {
    'width': "100%",
    'height': '400px',
    'padding': '1px',
}

#Locations
locations = weather_data_df[["Latitude", "Longitude"]].astype(float)

#Humidity
humidity = weather_data_df['Humidity (%)'].astype(float)

# fig = gmaps.figure()
fig = gmaps.figure(layout=figure_layout, center=(21, 4), zoom_level=2.0)
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=100,
                                   point_radius=1)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='400px', padding='1px', width='100%'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
#Narrow down cities to fit weather conditions
ideal_cities = weather_data_df.loc[(weather_data_df['Temperature (F)'] <= 80) & (weather_data_df['Temperature (F)'] >70) & (weather_data_df['Cloudiness (%)'] ==0) & (weather_data_df['Wind Speed (mph)'] <10)]

ideal_cities.head()

,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Date
53,Yulara,AU,-25.2406,130.9889,77.00,19,0,8.05,1611082845
280,Thibodaux,US,29.7958,-90.8229,73.99,64,0,5.99,1611082886
284,Salalah,OM,17.0151,54.0924,73.40,40,0,2.30,1611082886
424,Raja,SS,8.4596,25.6780,73.18,21,0,5.68,1611082909
499,BƒÅpatla,IN,15.9000,80.4667,71.42,82,0,4.50,1611082920

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df = ideal_cities[["City", "Country", "Latitude", "Longitude"]]
hotel_df["Hotel Name"]=""
hotel_df

C:\Users\felix\anaconda4\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          City Country  Latitude  Longitude Hotel Name
53      Yulara      AU  -25.2406   130.9889
280  Thibodaux      US   29.7958   -90.8229
284    Salalah      OM   17.0151    54.0924
424       Raja      SS    8.4596    25.6780
499    BƒÅpatla      IN   15.9000    80.4667

In [6]:
hotel_name = []

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# taken from Airpost_Ratings Example done in class
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))
    try:
#         hotel_df.iloc[index, 4] = name_address['results'][0]['name']
        hotel_name.append(name_address['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)

In [7]:
hotel_df["Hotel Name"]=hotel_name
hotel_df=hotel_df.dropna()
hotel_df

C:\Users\felix\anaconda4\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          City Country  Latitude  Longitude                Hotel Name
53      Yulara      AU  -25.2406   130.9889       Sails in the Desert
280  Thibodaux      US   29.7958   -90.8229           Dansereau House
284    Salalah      OM   17.0151    54.0924       HYATT SALALAH HOTEL
499    BƒÅpatla      IN   15.9000    80.4667  Pagadala Grand Residency

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [9]:
# Add marker layer ontop of heat map
hotels = gmaps.marker_layer(locations, info_box_content=hotel_info)


fig.add_layer(heatmap_layer)
fig.add_layer(hotels)
fig

Figure(layout=FigureLayout(height='400px', padding='1px', width='100%'))